# Stock market Clustering
author- Harshit Sharma

a notebook that clusters same type of stocks based on KNN algorithm and then display the result on a 2D plot by doing PCA(principle component analysis) on a high dimensional data using SVD(singular value decomposition)

In [1]:
from pandas_datareader import data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from datetime import datetime

In [2]:
#creating a database
companies_dict = {
    'Amazon':'AMZN',
    'Apple': 'AAPL',
    'Walgreen':'WBA',
    'Northrop Grumman':'NOC',
    'Boeing': 'BA',
    'Lockheed Martin':'LMT',
    'McDonalds':'MCD',
    'Intel':'INTC',
    'Navistar':'NAV',
    'IBM':'IBM',
    'Texas Instruments':'TXN',
    'Microsoft':'MSFT',
    'Mastercard':'MA',
    'General Electrics': 'GE',
    'American Express':'AXP',
    'Pepsi':'PEP',
    'Coca Cola':'KO',
    "johnson & johnson":'JNJ',
    'Toyota':'TM',
    'Honda':'HMC',
    'Mistubishi':'MSBHF',
    'Sony':'SONY',
    'Exxon':'XOM',
    'Chevron':'CVX',
    'Valero Energy':'VLO',
    'Ford':'F',
    'Bank of America':'BAC'
    }
#companies_dict = list(companies_dict.values())

In [3]:
companies = sorted(companies_dict.items(), key = lambda x:x[1])
companies_ls = []
for i,(k,v) in enumerate(companies):
    companies_ls.append(v)
print(companies_ls)

['AAPL', 'AMZN', 'AXP', 'BA', 'BAC', 'CVX', 'F', 'GE', 'HMC', 'IBM', 'INTC', 'JNJ', 'KO', 'LMT', 'MA', 'MCD', 'MSBHF', 'MSFT', 'NAV', 'NOC', 'PEP', 'SONY', 'TM', 'TXN', 'VLO', 'WBA', 'XOM']

In [9]:
#define online source
data_source = 'yahoo'

#define the start and end dates
start_date = datetime(2015,1,1)
end_date = datetime(2017,12,31)

#loading the stock data using pandas_reader
panel_data = data.DataReader(companies_ls, data_source, start_date, end_date)

#print axis labels
print(panel_data.axes)
print(panel_data.keys())

[DatetimeIndex(['2014-12-31', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None), MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close', 'AMZN'),
            ('Adj Close',  'AXP'),
            ('Adj Close',   'BA'),
            ('Adj Close',  'BAC'),
            ('Adj Close',  'CVX'),
            ('Adj Close',    'F'),
            ('Adj Close',   'GE'),
            ('Adj Close',  'HMC'),
            ('Adj Close',  'IBM'),
            ...
            (   'Volume', 'MSFT'),
            (   'Volume',  'NAV'),
            (   'Volume',  'NOC'),
            (   'Volume',  'PEP'),
            (   'Volume', 'SONY'),
            (   'Volume',   'TM'),
            (   'Volume',  'TXN'),
            (   'Volume',  'VLO'),
            (   'Volume',  'WBA'),
            (   'Volume',  'XOM')],
           names=['Attributes', 'Symbols'], length=162)]
MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close', 'AMZN'),
            ('Adj Close',  'AXP'),
            ('Adj Close',   'BA'),
            ('Adj Close',  'BAC'),
            ('Adj Close',  'CVX'),
            ('Adj Close',    'F'),
            ('Adj Close',   'GE'),
            ('Adj Close',  'HMC'),
            ('Adj Close',  'IBM'),
            ...
            (   'Volume', 'MSFT'),
            (   'Volume',  'NAV'),
            (   'Volume',  'NOC'),
            (   'Volume',  'PEP'),
            (   'Volume', 'SONY'),
            (   'Volume',   'TM'),
            (   'Volume',  'TXN'),
            (   'Volume',  'VLO'),
            (   'Volume',  'WBA'),
            (   'Volume',  'XOM')],
           names=['Attributes', 'Symbols'], length=162)

In [11]:
#find the open and close prices of data
stock_close = panel_data['Close']
stock_open = panel_data['Open']

print(stock_close.iloc[1])

Symbols
AAPL      27.332500
AMZN     308.519989
AXP       93.019997
BA       129.949997
BAC       17.900000
CVX      112.580002
F         15.360000
GE        24.096153
HMC       29.590000
IBM      162.059998
INTC      36.360001
JNJ      104.519997
KO        42.139999
LMT      193.309998
MA        85.680000
MCD       93.260002
MSBHF     18.260000
MSFT      46.759998
NAV       34.160000
NOC      146.460007
PEP       94.440002
SONY      20.559999
TM       125.669998
TXN       53.480000
VLO       50.340000
WBA       76.000000
XOM       92.830002
Name: 2015-01-02 00:00:00, dtype: float64

In [26]:
#daily stock movements
stock_close = np.array(stock_close).T
stock_open = np.array(stock_open).T
row,col = stock_close.shape
print(row,col)

movements = np.zeros([row,col])

27 756

In [27]:
for i in range(0,row):
    movements[i,:] = np.subtract(stock_close[i,:],stock_open[i,:])
for i in range(len(companies_ls)):
    print('Name: {}, Change: {}'.format(companies[i][0],sum(movements[i][:])))

Name: Apple, Change: 3.5624732971191406
Name: Amazon, Change: -83.93020629882812
Name: American Express, Change: 5.600105285644531
Name: Boeing, Change: 100.44984436035156
Name: Bank of America, Change: -3.780003547668457
Name: Chevron, Change: 27.099990844726562
Name: Ford, Change: -5.559996604919434
Name: General Electrics, Change: 4.509613037109375
Name: Honda, Change: -8.180000305175781
Name: IBM, Change: 15.669967651367188
Name: Intel, Change: 19.52003288269043
Name: johnson & johnson, Change: 30.619949340820312
Name: Coca Cola, Change: 11.459976196289062
Name: Lockheed Martin, Change: 57.899932861328125
Name: Mastercard, Change: 23.569869995117188
Name: McDonalds, Change: 51.290016174316406
Name: Mistubishi, Change: -1.2500009536743164
Name: Microsoft, Change: 28.480026245117188
Name: Navistar, Change: -0.6599926948547363
Name: Northrop Grumman, Change: 72.03007507324219
Name: Pepsi, Change: 36.96997833251953
Name: Sony, Change: -0.4999885559082031
Name: Toyota, Change: -17.430099487304688
Name: Texas Instruments, Change: 28.409912109375
Name: Valero Energy, Change: 29.399993896484375
Name: Walgreen, Change: -5.940071105957031
Name: Exxon, Change: 9.929985046386719

In [29]:
#check shape should be 27, 756 here
movements.shape

(27, 756)